@using NTierSolution.MVC.UI.Models
@model List<StudentsModel>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Student List";
}

<partial name="AddStudent" model="null"/>

<h2>List of the Students</h2>

@if (Model != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>
                        <a class="btn btn-success" asp-action="UpdateStudent" asp-route-id="@student.Id">Update</a>
                        <a class="btn btn-outline-danger" asp-action="DeleteStudent" asp-route-id="@student.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
